.wrapper{
    font-family: "Arial";
}

.navigator .logo{
    background-image: url('/images3/140-80.jpg');
}

#news_1 .images{
    background-image: url('/images3/news3.jpg');
}

#news_2 .images{
    background-image: url('/images3/news1.jpg');
}


#news_3 .images{
    background-image: url('/images3/news2.jpg');
}


#news_4 .images{
    background-image: url('/images3/news/1/1.png');
}



#news_5 .images{
    background-image: url('/images3/news/1/4.png');
}


#news_6 .images{
    background-image: url('/images3/news/1/5.png');
}

#ms1 .images{
    background-image: url('/images3/340-190.jpg');
}