#taobao_gadget .gadget_content a{
    background-image: url('/images3/ali.jpg');
}

#weibo_gadget .gadget_content a{
    background-image: url('/images3/facebook.jpg');
    
}

#services_gadget .gadget_content a{
    background-image: url('/images3/index_ser.png');
}

#news_gadget .gadget_content li{
    margin-top: 4px;
}

