body {
    margin: 0;
    padding: 0;
    font-family: Arial,'微软雅黑','宋体','Microsoft YaHei',serif,Consolas;
    min-width: 814px;
    box-shadow: none;
    -moz-box-shadow: none;
}



ul li{
    list-style-type: none;
}

.wrapper{
    width: 960px;
    margin: auto;
}

.clear{
    clear: both;
    width: 100%;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.hilite{
    color: #2EA7E0;
}
/*
.current_submenu{
    border-bottom: 2px solid #2EA7E0;
}*/

.submenu_wrapper{
    position: relative;
}

.floater{
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #2EA7E0;
    z-index: 40;
}