.declaration{
    width: 100%;
    margin-top: 80px;
    font-family: 宋体, 'Arial Narrow', HELVETICA;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

.declaration_wrapper{
    height: 200px;
    border-top: 1px solid #D6DADB;
}

.declaration_links{
    text-align: center;
}

#languages{
    border-right: none;
    display: block;
    float: left;
    position: relative;
    margin-left: 10px;
}

.declaration_links ul{
    display: block;
    width: 530px;
    margin: auto;
    vertical-align: middle;
    margin-bottom: 20px;
    overflow: hidden;
}

.declaration_links li{
    border-right: 1px solid #D6DADB;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    display: inline;
    float: left;
    margin :auto;
    width: 100px;
    margin-top: 28px;
}

#languages a{
    position: absolute;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 3px;
    top: -6px;
}

#languages #zhcn{
    
}

#languages #en{
    left: 35px;
}


.declaration_links a:link{
    color: #2EA7E0;
}

.declaration_links a:visited{
    color: #2EA7E0;
}
.declaration_links a:hover{
    color: #2EA7E0;
}
.declaration_links a:active{
    color: #2EA7E0;
}

#zhcn{
    background-image: url('/images2/zhcn.png');
}

#en{
    background-image: url('/images2/en.png');
}

.declaration_info span{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    color: #575757;
    font-size: 14px;
}