/* navigator */
.navigator{
    width: 100%;
    height: 70px;
}

.navigator_wrapper{
    height: 70px;
    min-width: 814px;
}

.logo{
    width: 120px;
    float: left;
    height: 70px;
    overflow: hidden;
    margin-left: 20px;
    background-image: url('/images2/logo3.png');
    background-position: -11px -6px;
}

.logo a{
    display: block;
    width: 120px;
    height: 70px;
}

.language_switch{
    float: right;
    height: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #898787;
    font-size: 12px;
}

.language_switch span{
    color: #E1E1E1;
}

.language_switch a:link{
    color: #898787;
}

.language_switch a:visited{
    color: #898787;
}

.language_switch a:hover{
    color: #898787;
}

.language_switch a:active{
    color: #898787;
}


.language_switch a+a:link{
    color: #9FA0A0;
}

.language_switch a+a:visited{
    color: #9FA0A0;
}

.language_switch a+a:hover{
    color: #9FA0A0;
}

.language_switch a+a:active{
    color: #9FA0A0;
}
.bar{
    width: 576px;
    float: right;
    height: 70px;
    margin-right: 30px;
    text-align: center;
}
/*navigator*/
.bar_container{
    margin-top: 36px;
    margin-bottom: 8px;
    height: 20px;
    font-size: 14px;
}

.bar a{
    display: block;
    float: left;
    width: 84px;
    height: 20px;
}

.bar a+a{
    border-left: 1px solid #E0E0E0;
}

.bar a:link{
    color: #414141;
    text-decoration: none;
}
.bar a:visited{
    color: #414141;
}
.bar a:hover{
    color: #414141;
}
.bar a:active{
    color: #414141;
}


#floater{
    display: block;
    float: left;
    width: 64px;
    height: 3px;
    margin-bottom: 3px;
    background-color: #B2B2B2;
    margin-left: 10px;
}

.bar_container em{
    font-style: normal;
    color: #E0E0E0;
    font-size: 10px;
    float: left;
    margin-top: 2px;
}