
.page_selector i{
    font-style: normal;
    margin-left: 2px;
    margin-right: 2px;
}


.page_selector{
    margin-left: 820px;
    font-size: 16px;
    color: #a4a4a5;
}

.page_selector span{
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 2px;
}

#gospan{
    width: 27px;
    height: 20px;
    float: left;
}

#gospan a{
    display: block;
    float: left;
    background-image: url('/images3/industrynews/005.png');
    width: 27px;
    height: 20px;
    margin-bottom: 4px;
}


.page_selector input{
    float: left;
    width: 10px;
}

/* activated status be changed by css*/

.last_page{
    display: inline;
    float: left;
    width: 20px;
    height: 20px;
}  


.next_page{
    display: inline;
    float: left;
    width: 20px;
    height: 20px;
}  

.last_page a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-image: url('/images3/industrynews/001.png');
    background-repeat: no-repeat;
}

.next_page a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-image: url('/images3/industrynews/004.png');
    background-repeat: no-repeat;
}

.page_selector input{
    width: 26px;
    height: 10px;
    font-size: 10px;
    margin-top: 3px;
}