.submenu_area{
    width: 100%;
    background-image: url('/images3/submenu_bg.png');
    background-repeat: repeat-x;
}

.submenu_wrapper{
    height: 100px;
    position: relative;
}



.submenu_wrapper >ul{
    margin-top: 5px;
    margin-bottom: 40px;
    background-image: url('/images3/submenu_button_bg3.png');
    background-repeat: repeat-x;
}

.sf-menu{
    margin: auto;
    margin-left: 200px;
    font-size: 14px;
    /*
    background: #ffffff;*/
}

.sf-menu a{
    color: #727272;
    font-family: "微软雅黑","宋体","Arial" ;

}

.sf-menu li ul li{
    background: #ffffff;
}

/*
.sf-menu ul li{
    background: #ffffff;
}

.sf-menu li:hover{
    background: #ffffff;
}

.sf-menu li{
    background: #ffffff;
}*/