
#sub_floater{
    display: block;
    float: left;
    width: 45px;
    height: 2px;
    background-color: #B2B2B2;
    position: absolute;
    left: 220px;
    top: 42px;
}


#cn_floater{
    display: block;
    float: left;
    width: 45px;
    height: 2px;
    background-color: #B2B2B2;
    position: absolute;
    left: 220px;
    top: 42px;
}

#twice_floater{
    display: block;
    float: left;
    width: 60px;
    height: 2px;
    background-color: #B2B2B2;
    position: absolute;
    left: 40px;
    top: 42px;
}