.sub_bar ul,li{
    list-style-type: none;
    display: block;
    float: left;
}


.sub_bar{
    width: 1000px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 55px;
}

.sub_bar a:link{
    color: #727272;
    text-decoration: none;
}
.sub_bar a:visited{
    color: #727272;
}
.sub_bar a:hover{
    color: #414141;
}
.sub_bar a:active{
    color: #414141;
}

.sub_bar_container{
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    margin-bottom: 15px;
    /* waiting for modification */
    width: 810px;
    top: 3px;
    position: absolute;
}

#main_sub_menu{
    height: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#main_sub_menu li{
    border-right: 1px solid #E0E0E0;
}

#main_sub_menu li+li+li+li+li+li{
    border-right: 0px;
}

#main_sub_menu a{
    display: block;
    float: left;
    margin-left: 18px;
    margin-right: 18px;
}

#main_sub_menu a+a{
    border-left: 1px solid #E2E2E2;
    padding-left: 18px;
    margin-left: 0;
}

#s5{
    width: 176px;
    text-align: center;
    margin-left: 0;
    padding: 0;
}
/**/
#s5:hover > ul{
    display: block;
}

#s5 a{
    margin-left: 50px;
}

#s5 > ul{
    display: block;
    padding: 0;
    margin-top: 10px;
    border: 1px dotted #DADADA;
}
/**/
#s5 ul:hover{
    display: block;
}

#s5 ul li{
    margin-left:20px;
    border-right: 0px;
    width: 142px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#s5 ul li+li{
    border-top: 1px solid #E0E0E0;
}


#s5 ul li a{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#sub_floater{
    display: block;
    float: left;
    width: 50px;
    height: 3px;
    background-color: #B2B2B2;
    position: absolute;
    left: 54px;
    top: 42px;
}


