/* Global Part */

ul li{
    list-style-type: none;
}

.wrapper{
    width: 960px;
    margin: auto;
}

a,a:link,a:visited,a:hover,a:active{
    color: #898989;
    text-decoration: none;
}

/* Body Part */
/*navigator is moved to utils.css*/

/**********
    
.language{
    width: 120px;
    float: right;
    height: 70px;
    margin-right: 40px;
}

.language_button{
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: url('/images2/language_button.png');
    background-position: 0,20px;
}

.languages{
    list-style-type: none;
    display: none;
}

.languages li{
    list-style-type: none;
    display: block;
    height: 45px;
    width: 120px;
}
*********/

/* menues */
/************
.menues{
    width: 100%;
    position: absolute;
    z-index: -70;
}
.hidden_backgrounds{
    z-index: -69;
}
.hidden_background{
    z-index: -68;
}

.menu_wrapper{
    height: 500px;
    z-index: -52;
}


.hidden_menu{
    z-index: -50;
}

.hidden_content{
    z-index: -49;
}
************/


/* main */
.main{
    width: 100%;
    /*temporarily hide*/
    background-image: url('/images3/index_rolling_bg1.jpg');
    background-repeat: repeat-x;
    height: 545px;
    border-bottom: 1px;
    margin-bottom: 20px;
}

.main_wrapper{
    height: 540px;
}

.rolling_area{
    height: 540px;
}

/* Height:15px. Bottom: 20px, Top: 505px; */
.dots{
    position: absolute;
    top: 505px;
}



/* gadgets */
.gadgets{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
}
.gadgets_wrapper{
    
}

.gadget{
    height: 230px;
    width: 310px;
    float: left;
}
.gadget_title_line{
    height: 50px;
    margin-top: 26px;
    font-size: 16px;
}

.gadget_title_line span{
    font-size: 16px;
    color: #808080;
    margin-left: 30px;
    float: left;
    margin-top: 18px;
    display: inline;
}

#news_gadget span+a{
    display: inline;
    float: right;
    margin-top: 18px;
    margin-right: 20px;
    color: #A0A0A0;
    font-size: 14px;
}

.gadget_content{
    height:140px;
    width: 300px;
    margin-bottom: 18px;
    margin-left: 4px;
    /* Why no border displaying ! */
    border: 1px solid #D6DADB;
}


#news_gadget .gadget_content ul{
    margin-top: 16px;
    padding-left: 24px;
    font-family: "宋体";
    font-weight: 100;
}


#news_gadget .gadget_content li{
    list-style-type: none;
    font-size: 12px;
    margin-top: 8px;
}

#news_gadget em { 
    display:block; 
    font:0/0 "宋体"; 
    border:4px solid; 
    border-color:#fff #fff #fff #B5B5B6; 
    float:left; 
    margin-right:8px;
    margin-top:3px;
}



#news_gadget .gadget_content li a:hover{
    text-decoration: underline;
}

#products_gadget .gadget_content a{
    display: block;
    background-image: url('/images2/newproduct.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

#android{
    margin-left: 50px;
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 12px;
    background-image: url('/images2/applinks.png');
    background-repeat: no-repeat;
    background-position: left;
}

#ios{
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 12px;
    background-image: url('/images2/applinks.png');
    background-repeat: no-repeat;
    background-position: right;
}

#taobao_gadget .gadget_content a{
    display: block;
    background-image: url('/images2/tmall3.png');
    /*background-color: #EF2942;*/
    background-repeat: no-repeat;
    background-position: bottom;
    margin: auto;
    width: 100%;
    height: 100%;
}

#weibo_gadget .gadget_content a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/images2/weibo_gadget_240_130.png');
    background-position: center;
    background-repeat: no-repeat;
}

#services_gadget .gadget_content a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/images2/service.png');
    background-position: center;
    background-repeat: no-repeat;
}


/*declaration is moved to utils.css*/

/* Specific Part */

