/*Global*/
body{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.clear{
    clear: both;
}


/*Body*/
.navigator{
    width: 100%;
    background-image: url('images/topbg.gif');
    background-repeat: repeat-x;
    height: 72px;
}
.navi_body{
    width: 954px;
    height: 72px;
    margin: auto;
    
    /*Test only*/
    background-color: #f00;}
.logo{
    float: left;
}
.bar{
    text-align: center;
    float: left;
    margin-top: 48px;
    margin-left: 150px;
    margin-right: 20px;
}

#menu_topbar{
    margin-bottom: 0px;
}

#menu_topbar li{
    height: 24px;
    width: 72px;
    float: left;
    display: inline;
}

.language_selector{
    float: right ;
    margin-right: 2px;
    margin-top: 48px;
    margin-right: 20px;
}

#menu{
    width: 100px;
}

#menu li{
    margin-top: 8px;
    margin-bottom: 8px;
}


.hidden_language{
    display: none;
}


/*
    
    
#menu{
    margin-bottom: 0px;
    width: 120px;
}

#menu>li{
    float: left;
    display: inline;
}

#menu li a{
    /* Fonts and size here 
    color: #000;
    height: 24px;
    text-align: center;
    display: block;
}

#menu li a:hover{
    /* Needs modification 
    color: #000;
}

#menu a.selected{
    /* May Need modification 
    color: #F00;
}

#menu ul{
    /* Submenu is hidden by default 
    display: none;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100px;
    overflow: hidden;
    zoom: 1;
}

#menu ul li{
    float: left;
    width: 100px;
    display: block;
}
/* Might need a:hover 
#menu ul a{
    display: block;
    height: 15px;
}

*/

.hidden{
    display: none;
    width: 954px;
    margin: auto;
    /*The height is for test only*/
    background-color: #ffd800;
    height: 120px;
}

.main{
    width: 954px;
    height: 500px;
    margin: auto;
    /*Test only*/
    background-color: #4cff00;
}
/*The same width but not always the same height as father*/
.rolling_area{
    width: 954px;
    /*This height doesn't contain the info bar below*/
    /*Because the info bar is not added in*/
    height: 500px;
}
/*Contains info bar for each pic below*/
.body_wrapper{
    width: 954px;
    /*This height doesn't contain the info bar below*/
    /*Because the info bar is not added in*/
    height: 500px;
}
/*The same size as the pictures*/
.rolling_container{
    
}
/*Located at a specific place*/
.rolling_navigator{
    position: absolute;
    /*Test only*/
    display: none;
}

.gadgets{
    width: 954px;
    /*The height is generated by the gadgets inside*/
    margin:auto;
    overflow: hidden;
    zoom: 1;
    /*Test only*/
    background-color: #808080;
}


.gadget{
    width: 236px;
    height: 200px;
    margin-left: 2px;
    float: left;
    border: 1px;
}
.gadget_name{
    height: 36px;
    width: 80%;
    margin-left: 20px;
}
.gadget_container{
    height: 196px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.declaration{
    height: 300px;
    /*Test only*/
    background-color: #ffd800;
}
.line{
    height: 100px;
    width: 100%;
    /*The line below should be implemented by the background image*/
}
.upper_dec{
    height: 70px;
    text-align: center;
}
.bottom_navi{
    margin: auto;
    width: 420px;
    display: block;
}
/* The words inside needs decoration */
.bottom_navi_element{
    margin: auto;                                                                                                                                              margin-top: 28px;
    width: 100px;
    float: left;
}

.lower_dec{
    height: 130px;
    /* The width needs modification */
    width: 300px;
    margin:auto;
}

.declare{
    float: left ;
    margin-left: 30px;
    margin-top: 12px;
}

/*Specific*/

.current_unfold{
    background-color: #ffd800;
}