body{
    min-width: 814px;
}

.banner{
    width: 100%;
    height: 200px;
    /*
    background: url('/images2/contactusbanner.png') no-repeat center center;*/
    margin-top: 3px;
}

.picture_wrapper{
    position: relative;
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
    height: 200px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    min-width: 960px;
}

.picture_wrapper img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}

.content_wrapper{
    font-family: Arial,'宋体','微软雅黑','Microsoft YaHei',serif,Consolas;
    width: 832px;
    color: #414141;
    margin: auto;
    margin-top: 100px;
}

.content_wrapper a:link{
    color: #727272;
    text-decoration: none;
}
.content_wrapper a:visited{
    color: #727272;
    text-decoration: none;
}
.content_wrapper a:hover{
    color: #414141;
    text-decoration: underline;
}
.content_wrapper a:active{
    color: #414141;
    text-decoration: none;
}
