.banner{
    width: 100%;
    height: 40px;
    font-size: 22px;
}

.milestone{
    height: 200px;
    width: 100%;
}

.texts{
    float: left;
    width: 600px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 40px;
}

h2{
    font-size: 20px;
    display: inline ;
}

i{
    color: #808080;
    font-size: 14px;
    display: inline;
}

p{
    
}

.images{
    float: left;
    width: 300px;
    height: 190px;
    margin-right: 20px;
    /* For testing only 
    background-image: url('/images2/200icon.png');*/
}

.dividing_line{
    background-image: url('/images2/shadow2.png');
    width: 1000px;
    overflow: hidden;
    height: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#ms1 .images{
    background-image: url('/images3/history/001.png');
}

#ms2 .images{
    background-image: url('/images3/history/002.png');
}

#ms3 .images{
    background-image: url('/images3/history/003.png');
}

#ms4 .images{
    background-image: url('/images3/history/004.png');
}

#ms5 .images{
    background-image: url('/images3/history/005.png');
}

#ms6 .images{
    background-image: url('/images3/history/006.png');
}

#ms7 .images{
    background-image: url('/images3/history/007.png');
}

#ms8 .images{
    background-image: url('/images3/history/008.png');
}

.submenu_area .sf-menu{
    margin-left: 20px;
    background-image: url('/images3/submenu_button_bg4.png');
    background-position-x: 15px;
}

.milestone .texts p{
    position: relative;
    font-family: Arial,"宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;}