.product_wrapper{
    position: relative;
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
    height: 4030px;
}

.product_wrapper img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}
.menu2{
    height: 200px;
}

.table{
    position: absolute;
    top: 3170px;
}

.texts_onpic{
    position: absolute;
    margin-left: 10px;
    z-index: 50;
}


.table{
    line-height: 44px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

table{
    border-collapse: collapse;
    border: none;
    border-color: #E3E3E3;
    width: 100%;
}

td, th{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


td, th, tr{
    border-color: #E3E3E3;
}


#text1{
    top: 467px;
    margin-left: 509px;
    width: 400px;
}
#text2{
    top: 815px;
    margin-left: 32px;
    width: 400px;
}
#text3{
    top: 1439px;
    margin-left: 592px;
    width: 400px;
}
#text4{
    top: 1869px;
    margin-left: 32px;
    width: 400px;
}
#text5{
    top: 2297px;
    margin-left: 492px;
    width: 400px;
}
#text6{
    top: 2660px;
    margin-left: 32px;
    width: 400px;
}
