.product_wrapper{
    position: relative;
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
    height: 3500px;
}

.product_wrapper img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}
.menu2{
    height: 200px;
}

.table{
    position: absolute;
    top: 2685px;
}

.texts_onpic{
    position: absolute;
    margin-left: 10px;
    z-index: 50;
}

#text1{
    top: 459px;
    margin-left: 512px;
    width: 400px;
}
#text2{
    top: 807px;
    margin-left: 35px;
    width: 400px;
}
#text3{
    top: 1193px;
    margin-left: 490px;
    width: 400px;
}
#text4{
    top: 1530px;
    margin-left: 35px;
    width: 400px;
}
#text5{
    top: 1867px;
    margin-left: 490px;
    width: 400px;
}
#text6{
    top: 2236px;
    margin-left: 35px;
    width: 400px;
}
.table{
    line-height: 44px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

table{
    border-collapse: collapse;
    border: none;
    border-color: #E3E3E3;
    width: 100%;
}

td, th{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


td, th, tr{
    border-color: #E3E3E3;
}

