.product_wrapper{
    position: relative;
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
    height: 3850px;
}

.product_wrapper img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}
.menu2{
    height: 200px;
}

.table{
    position: absolute;
    top: 3008px;
}

.texts_onpic{
    position: absolute;
    margin-left: 10px;
    z-index: 50;
}






.table{
    line-height: 44px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

table{
    border-collapse: collapse;
    border: none;
    border-color: #E3E3E3;
    width: 100%;
}

td, th{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


td, th, tr{
    border-color: #E3E3E3;
}



#text1{
    top: 459px;
    margin-left: 562px;
    width: 350px;
}
#text2{
    top: 807px;
    margin-left: 35px;
    width: 400px;
}
#text3{
    top: 1493px;
    margin-left: 490px;
    width: 400px;
}
#text4{
    top: 1825px;
    margin-left: 35px;
    width: 400px;
}
#text5{
    top: 2160px;
    margin-left: 490px;
    width: 400px;
}
#text6{
    top: 2525px;
    margin-left: 35px;
    width: 400px;
}



#text7{
    top: 1047px;
    margin-left: 63px;
    width: 60px;
}
#text8{
    top: 1047px;
    margin-left: 219px;
    width: 60px;
}
#text9{
    top: 1047px;
    margin-left: 375px;
    width: 60px;
}
#text10{
    top: 1047px;
    margin-left: 531px;
    width: 60px;
}
#text11{
    top: 1047px;
    margin-left: 687px;
    width: 60px;
}
#text12{
    top: 1047px;
    margin-left: 843px;
    width: 60px;
}






#text13{
    top: 1240px;
    margin-left: 63px;
    width: 60px;
}
#text14{
    top: 1240px;
    margin-left: 219px;
    width: 60px;
}
#text15{
    top: 1240px;
    margin-left: 375px;
    width: 60px;
}
#text16{
    top: 1240px;
    margin-left: 531px;
    width: 60px;
}
#text17{
    top: 1240px;
    margin-left: 687px;
    width: 60px;
}
#text18{
    top: 1240px;
    margin-left: 843px;
    width: 60px;
}