.dividing_line{
    height: 13px;
    width: 1000px;
    background-image: url('/images2/shadow.png');
    background-repeat: no-repeat;
}

.left_product, .right_product{
    width: 100%;
    float: left;
}

.left_product .texts{
    float: left;
}

.left_product .images{
    float: right;
    /*waiting for modification*/
    width: 500px;
}

.right_product .texts{
    float: right;
}


.right_product .images{
    float: left;
}


.texts{
    margin-top: 40px;
    margin-left: 20px;
    width: 500px;
}

.images{
    width: 500px;
}

.upper_product .texts{
    width: 840px;
    margin-right: 70px;
    float: left;
}

.upper_product .images{
    float: left;
    width: 1000px;
}

h2{
    font-size: 18px;
    margin-bottom: 30px;
}

.table{
    width: 100%;
    text-align: center;
    font-size: 14px;
}

table{
    width: 100%;
}

tr{
    margin-top: 10px;
}