
.news_wrapper{
    margin-bottom: 100px;
}

.banner_area{
    width: 100%;
    height: 40px;
    font-size: 22px;
}

.left_news, .right_news{
    width: 1000px;
    height: 350px;
}

.texts{
    width: 450px;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    display: block;
}

.images{
    height: 240px;
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.splitter{
    width: 100%;
    height: 350px;
}

.left_news .texts{
    float: left;
}

.left_news .images{
    float: right;
    /*
    background: url('/images2/news_pic.png');*/
}

.right_news .texts{
    float: right;
}

.right_news .images{
    float: left;
    /*
    background: url('/images2/news_pic_left.png');*/
}

#inews1 .images{
    background: url('/images3/industrynews/banner1.jpg');
}

#inews2 .images{
    background: url('/images3/industrynews/banner2.jpg');
}

.inews a{
    font-size: 14px;
}

.inews a:link{
    color: #2EA7E0;
}

.inews a:visited{
    color: #2EA7E0;
}

.inews a:hover{
    color: #2EA7E0;
}

.inews a:active{
    color: #2EA7E0;
}

.news_item_divider{
    height: 13px;
    width: 1000px;
    background-image: url('/images2/shadow.png');
    background-repeat: no-repeat;
}

h2{
    font-size: 20px;
}

p{
    position: relative;
    font-family: Arial,"宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;}

i{
    font-style: normal;
    margin-left: 2px;
    margin-right: 2px;
}

.submenu_area .sf-menu{
    margin-left: 20px;
    background-image: url('/images3/submenu_button_bg4.png');
    background-position-x: 15px;
}
