.picture_wrapper{
    position: relative;
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
    height: 200px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    min-width: 960px;
}

.picture_wrapper img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}

.recruitment_wrapper{
    margin-top: 100px;
    font-family: "宋体";
}

.recruitment_wrapper h1{
    font-size: 20px;
}

.recruitment_wrapper p{
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
} 

.rec{
    margin-top: 90px;
    margin-bottom: 90px;
}

.job_description{
    
}

.recruitment_wrapper a:link{
    color: #2EA7E0;
}

.recruitment_wrapper a:visited{
    color: #2EA7E0;
}

.recruitment_wrapper a:hover{
    color: #2EA7E0;
}

.recruitment_wrapper a:active{
    color: #2EA7E0;
}

.recruitment_wrapper a{
    font-size: 14px;
}