.picture_wrapper{
    position: relative;
    height: 200px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    min-width: 960px;
}

.picture_wrapper img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}


.texts{
    margin-top: 60px;
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
}

.texts a:link{
    color: #2EA6DF;
}

.texts a:visited{
    color: #2EA6DF;
}

.texts a:hover{
    color: #2EA6DF;
}

.texts a:active{
    color: #2EA6DF;
}

.text_wrapper{
    margin-bottom: 220px;
}