.picture_wrapper{
    position: relative;
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
    height: 200px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    min-width: 960px;
}

.picture_wrapper img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}

.icons{
    font-family: "宋体";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    width: 960px;
    margin: auto;
    margin-top: 40px;
}


.icons img{
    margin: auto;
    display: block;
    margin-top: 20px;
}

.icons h1{
    text-align: center;
    margin: auto;
    display: block;
    font-size: 20px;
    font-family: "微软雅黑","宋体";
    color: #595757;
}

.icons p{
    margin-bottom: 20px;
    color: #595757;
}
.icons h1+p{
    margin-top: 30px;
}

.splitter{
    height: 200px;
}

