.news_wrapper{
    font-family: "宋体";
}

.banner_area{
    width: 100%;
    height: 40px;
    font-size: 22px;
    font-family: "微软雅黑","宋体","Arial";
}

.left_news, .right_news{
    width: 1000px;
    height: 350px;
}

.texts{
    width: 450px;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    display: block;
}

.images{
    height: 240px;
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.left_news .texts{
    float: left;
}

.left_news .images{
    float: right;
}

.right_news .texts{
    float: right;
}

.right_news .images{
    float: left;
}

.news_item_divider{
    height: 13px;
    width: 1000px;
    background-image: url('/images2/shadow.png');
    background-repeat: no-repeat;
}

h2{
    font-size: 20px;
    font-family: "微软雅黑","宋体","Arial";
}

p{
    position: relative;
    font-family: Arial,"宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
}

#news_1 .images{
    background-image: url('/images3/news/1/1.png');
}


#news_2 .images{
    background-image: url('/images3/news/1/2.png');
}


#news_3 .images{
    background-image: url('/images3/news/1/3.png');
}


#news_4 .images{
    background-image: url('/images3/news/1/4.png');
}

#news_5 .images{
    background-image: url('/images3/news/1/5.png');
}


#news_6 .images{
    background-image: url('/images3/news/1/6.png');
}


#news_7 .images{
    background-image: url('/images3/news/1/7.png');
}


#news_8 .images{
    background-image: url('/images3/news/1/8.png');
}

#news_9 .images{
    background-image: url('/images3/news/1/9.png');
}


#news_10 .images{
    background-image: url('/images3/news/1/10.png');
}


#news_11 .images{
    background-image: url('/images3/news/1/11.png');
}


#news_12 .images{
    background-image: url('/images3/news/1/12.png');
}


#news_13 .images{
    background-image: url('/images3/news/1/13.png');
}


#news_14 .images{
    background-image: url('/images3/news/1/14.png');
}



.submenu_area .sf-menu{
    margin-left: 20px;
    background-image: url('/images3/submenu_button_bg4.png');
    background-position-x: 15px;
}

.news_wrapper a:link{
    color: #2EA7E0;
}

.news_wrapper a:visited{
    color: #2EA7E0;
}

.news_wrapper a:hover{
    color: #2EA7E0;
}

.news_wrapper a:active{
    color: #2EA7E0;
}

.news_wrapper a{
    font-size: 14px;
}