.navigator{
    box-shadow: 0px 1px 3px #E3E3E3;
}

.banner_area{
    height: 247px;
}

.banner_area a{
    display: block;
    width: 320px;
    height: 246px;
    float: left;
}

.banner_area a .hover{
    width: 320px;
    height: 246px;
    display: block;
}

#ic-lite{
    background-image: url('/images3/l2-2.png');
}

#ic-lite .hover{
    background-image: url('/images3/l2-1.png');
}


#ic-pro{
    background-image: url('/images3/l1-1.png');
}


#ic-pro .hover{
    background-image: url('/images3/l1-2.png');
}



#ic-classic{
    background-image: url('/images3/l3-2.png');
}


#ic-classic .hover{
    background-image: url('/images3/l3-1.png');
}

.content_area{
    position: relative;
    height: 4952px;
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
}

.content_area img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}

.content_area h1{
    text-align: center;
    font-size: 64px;
    margin-bottom: 16px;
}

.content_area h2{
    text-align: center;
    font-size: 38px;
    margin-top: 16px;
}

.texts_onpic{
    position: absolute;
    margin-left: 10px;
    z-index: 50;
}


#text1{
    top: 645px;
}
#text2{
    top: 1240px;
}
#text3{
    top: 1820px;
}
#text4{
    width: 360px;
    margin-left: 40px;
    top: 2310px;
}
#text5{
    width: 360px;
    margin-left: 555px;
    top:  2820px;
}
#text6{
    width: 360px;
    margin-left: 40px;
    top:  3300px;
}
#text7{
    width: 360px;
    margin-left: 478px;
    top:  3827px;
}
#text8{
    width: 360px;
    margin-left: 33px;
    top:  4490px;
}

