body {
    background-image: url('/images2/products_bg.png');
    background-position-y: 70px;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}

ul,li{
    list-style-type: none;
    display: inline;
}

.submenu{
    height: 45px;
    width: 1000px;
    margin: auto;
    text-align: center;
}

.submenu li{
    margin-left: 25px;
    font-size: 15px;
    
}

.smenu{
    display: block;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 0;
}

.smenu a{
    display: block;
    height: 30px;
}

.smenu li{
    float: left;
    margin-top: 15px;
}

.more{
    width: 161px;
}

.more ul{
/*    display: none;*/
    list-style-type: none;
    padding: 0;
    display: block;
    border: 1px solid #DDE1E2;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 9999;
    position: absolute;
}

.more li{
    display: block;
    float: none;
    margin-left: 0;
    margin-top: 5px;
    height: 22px;
    margin-bottom: 10px;
    list-style-type: none;
}

#intro_1{
    position: relative;
    top: 0;
    height: 350px;
    z-index: 20;
    background-image: url('/images2/1000-350.png');
}

#intro_1 .text{
    position: absolute;
    left: 0;
    top: 0;
    
}

#intro_1 h1{
    font-size: 60px;
    margin-bottom: 15px;
}

#intro_1 p{
    margin-top: 15px;
    font-size: 35px;
}

.introduction h1{
    font-size: 35px;
}

.introduction p{
    font-size: 20px;
}

.introduction{
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    z-index: 9;
}

.intro_left .text{
    margin-left: 30px;
    float: left;
    
}

.intro_right .text{
    margin-right: 30px;
    float:right;
}

.text{
    width: 430px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}



