body{
    min-width: 814px;
    font-family: '微软雅黑','宋体',Arial,'Microsoft YaHei',serif,Consolas;
    color: #414141;
    font-size: 16px;
}

.banner{
    width: 100%;
    height: 200px;
    background: url('/images2/contactusbanner.png') no-repeat center center;
    margin-top: 3px;
}

.embed{
    width: 832px;
    height: 832px;
    
}

.picture_wrapper{
    position: relative;
    font-family: "宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
    height: 200px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    min-width: 960px;
}

.picture_wrapper img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}

table{
    width: 832px;
    margin-bottom: 40px;
}

tr{
    height: 24px;
}

th ,td{
    vertical-align: middle;
}

.row1{
    width: 45%;
}

.row2{
    width: 55%;
}