body {
}

.description{
    width: 832px;
    margin: auto;
}

.description p{
    font-family: Arial,"宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
}

.banner{
    width: 100%;
    height: 714px;
    background: url('/images2/ursae_banner.png') no-repeat center center;
    margin-top: 3px;
    overflow: hidden;
}


.picture_wrapper{
    position: relative;
    font-family: Arial,"宋体";
    font-size: 14px;
    color: #595757;
    letter-spacing: 1px;
    line-height: 24px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    min-width: 960px;
}

.picture_wrapper img{
    margin-top: 0;
    z-index: 0;
    position: absolute;
}

