body {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑','宋体',Arial,'Microsoft YaHei',serif,Consolas;
}

.clear{
    clear: both;
    width: 100%;
}

ul li{
    list-style-type: none;
}

.wrapper{
    width: 1000px;
    margin: auto;
}

a,a:link,a:visited,a:hover,a:active{
    color: #898989;
    text-decoration: none;
}


/* navigator 
.navigator{
    width: 100%;
    height: 70px;
    background-image: url('/images2/navi_bg.gif');
    background-repeat: repeat-x;
}

.navigator_wrapper{
    height: 70px;
}

.logo{
    width: 120px;
    float: left;
    height: 70px;
    overflow: hidden;
    margin-left: 20px;
}

.bar{
    width: 576px;
    float: right;
    height: 70px;
    margin-right: 80px;
    text-align: center;
}*/
/*navigator
.bar_container{
    margin-top: 36px;
    margin-bottom: 14px;
    height: 20px;
    font-size: 14px;
}

.bar a{
    display: block;
    float: left;
    width: 84px;
    height: 20px;
}

.bar a+a{
    border-left: 1px solid #E0E0E0;
}

.bar a:link{
    color: #474747;
    text-decoration: none;
}
.bar a:visited{
    color: #474747;
}
.bar a:hover{
    color: #474747;
}
.bar a:active{
    color: #474747;
}*/

/*declarations*/


/* declarations
.declaration{
    width: 100%;
}

.declaration_wrapper{
    height: 200px;
}

.declaration_links{
    border-top: 1px solid #D6DADB;
    text-align: center;
}

.declaration_links ul{
    display: block;
    width: 530px;
    margin: auto;
}

.declaration_links li{
    font-size: 14px;
    display: inline;
    float: left;
    margin :auto;
    width: 100px;
    margin-top: 28px;
    border-right: 1px solid #D6DADB;
    height: 28px;
    line-height: 32px;
}

.declaration_links a:link{
    color: #2EA7E0;
}

.declaration_links a:visited{
    color: #2EA7E0;
}
.declaration_links a:hover{
    color: #2EA7E0;
}
.declaration_links a:active{
    color: #2EA7E0;
}


#languages{
    border-right: none;
    margin-left: 10px;
}
     */
#languages a{
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 3px;
}

#zhcn{
    background-image: url('/images2/zhcn.png');
}

#en{
    background-image: url('/images2/en.png');
}

.declaration_info span{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    color: #575757;
    font-size: 14px;
}